<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Chat</h1>
    <p id="title">Welcome to Chat</p>
    <div id="messages">
        <p>Example msg</p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.4/socket.io.js"></script>
    <script src="/scripts/app.js"></script>
  </body>
</html>
