<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Chat</h1>
    <p id="title">Welcome to Chat</p>
    <h2><a href="http://localhost:3000/app">App</a></h2>
    <h2><a href="http://localhost:3000/signup">Signup</a></h2>
    <h2><a href="http://localhost:3000/login">Login</a></h2>
    <script src="/scripts/index.js"></script>
  </body>
</html>
