<!DOCTYPE html>
<html>
  <head>                                            <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>                                           <h1><%= title %> Login</h1>
   <h2><a href="http://localhost:3000/">Back</a></h2>
   <form action="/signup" method="post">
    Username: <input type="text" name="username" /><br><br>
    Email: <input type="text" name="email"/><br><br>
    Password: <input type="password" name="password"/><br><br>
    <input type="submit" value="accept"/><br><br><hr>
   </form>
  </body>
</html>
